body {
  margin: 0;
  background-color: #F3F3F3;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

.splash-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 66vh;
}

.splash-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 5rem;
  padding: .5em 1em;
  display: flex;
  justify-content: center;
}

.btn {
  font-size: inherit;
  background-color: hsl(30, 100%, 50%);
  padding: .5em 1em;
  outline: none;
  border: none;
  text-decoration: none;
  cursor: pointer;
  color: #333;
}

.btn:hover,
.btn:focus {
  background-color: hsl(30, 100%, 40%);
}

.splash-btn {
  font-size: 2rem;
  margin-left: 2rem;
}

.splash-btn:first-child {
  margin-left: 0;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.battleship-grid {
  margin: 2vmin;
  display: grid;
  background-color: hsl(200, 100%, 50%);
  grid-template-rows: repeat(10, 4.6vmin);
  grid-template-columns: repeat(10, 4.6vmin);
}

.grid-computer>.taken,
.grid-computer>.acertou {
  background-color: hsl(200, 100%, 50%) !important;
  border-radius: 0 !important;
}

.taken,
.ship {
  position: relative;
  /* background-color: hsl(0, 0%, 80%); */
}

.taken.horizontal::before {
  border-left: none;
  border-right: none;
}

.taken.vertical::before {
  border-top: none;
  border-bottom: none;
}

.grid-display {
  display: flex;
}

.ship>div {
  width: 4.6vmin;
  height: 4.6vmin;
}

.ship {
  display: flex;
  flex-wrap: wrap;
  margin: 1vmin;
  width: calc(4.6vmin * var(--width, 1));
  height: calc(4.6vmin * var(--height, 1));
}

.battleship-grid div {
  border: 7px solid hsla(0, 0%, 100%, .2);
}

.battleship-grid div.contra-torpedeiro{
  background-color: rgb(192, 0, 0);
}

.battleship-grid div.submarino{
  background-color: rgb(0, 158, 194);
}

.battleship-grid div.navios-tanque{
  background-color: rgb(0, 5, 151);
}

.battleship-grid div.porta-avioe{
  background-color: rgb(0, 0, 0) !important;
}

.submarino-container {
  --width: 2;
  background-color: rgb(0, 158, 194);
}

.submarino-container-vertical {
  --height: 2;
  --width: 1;
  background-color: rgb(0, 158, 194);
}

.contra-torpedeiro-container,
.cruiser-container {
  --width: 3;
}

.cruiser-container{
  background-color: blue;
}

.contra-torpedeiro-container{
  background-color: rgb(192, 0, 0);
}


.contra-torpedeiro-container-vertical,
.cruiser-container-vertical {
  --height: 3;
  --width: 1;
}

.contra-torpedeiro-container-vertical{
  background-color: rgb(192, 0, 0);
}

.navios-tanque-container {
  --width: 4;
  background-color: rgb(0, 5, 151);
}

.navios-tanque-container-vertical {
  --height: 4;
  --width: 1;
  background-color: rgb(0, 5, 151);
}

.porta-avioe-container {
  --width: 5;
  background-color: rgb(0, 0, 0);
}

.porta-avioe-container-vertical {
  --height: 5;
  --width: 1;
  background-color: rgb(0, 0, 0);
}

.hidden-info {
  font-size: 1.5rem;
  align-items: center;
  flex-direction: column;
}

.info-text {
  margin: 1rem;
}

.errou,
.acertou {
  display: flex;
  justify-content: center;
  align-items: center;
}

.acertou::after,
.errou::after {
  content: '';
  position: absolute;
  width: 2vmin;
  height: 2vmin;
}

.errou::after {
  background-color: white;
}

.acertou::after {
  background-color: red;
}

.errou::before {
  content: '';
  position: absolute;
  border: 1vmin solid white;
  width: 2vmin;
  height: 2vmin;
}

.player {
  margin: 2vmin;
}

.p1 {
  margin-right: 20vmin;
}

.p2 {
  margin-left: 20vmin;
}

.connected,
.ready {
  font-weight: normal;
  color: red;
}

.connected.active,
.ready.active {
  text-decoration: none;
  color: rgb(0, 203, 0);
}